[user]
	name = Takehiro Adachi
	email = takehiro0740@gmail.com
[include]
	path = .gitconfig.local
[color]
	ui = auto
[core]
	autocrlf = false
	excludesfile = /Users/Takehiro/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
